* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 15px;
}

.section {
    display: inline-block;
    padding: 20px;
    height: 98vh;
}

.card_1, .card_2, .card_3 {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 200px;
    overflow: hidden;

    margin: 10px 20px;

    border: 1px solid black;
    border-radius: 10px;

    color: white;
    font-weight: bold;
    user-select: none;
}
.card_1 {
    background: linear-gradient(45deg,#FFBD9A, #FD8898);
}

.card_2 {
    background: linear-gradient(45deg,#87C6F5, #1D93E3);
}

.card_3 {
    background: linear-gradient(45deg,#77D8CF, #09D0B7);
}

.card:hover {
    cursor: pointer;
    transition: border 0.2s;
    border: 3px solid red;
}

.title_card, .money, .persent, .mark, .dot, .dot2 {
    position: absolute;
}

.title_card {
    top: 20%;
    left: 10%;
}

.money {
    top: 40%;
    left: 10%;
    font-size: 35px;
}

.persent {
    font-size: 15px;
    bottom: 20%;
    left: 10%;
}

.mark {
    right: 10%;
    top: 20%;
}



.card::after,card {
    position: absolute;
    bottom: -50%;
    right: -10%;
    height: 200px;
    width: 200px;

    content: " ";

    background-color: white;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.3;
}

.card::before {
    position: absolute;
    top: -10%;
    right: -35%;
    height: 200px;
    width: 200px;

    content: " ";

    background-color: white;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.3;
}